In [1]:
import pandas as pd
pd.options.mode.chained_assignment = None #for not showing warning message 
pd.options.display.float_format = '{:,.7f}'.format #for setting thhe float format to this notebook

In [1]:
 #### commnet

In [2]:
jccycle                   =      pd.read_excel("D:\Analytics\Marketing Report\Journey Cycle\Master Journey Cycle.xlsx")
product_hierarchy         =      pd.read_excel("D:\Analytics\Marketing Report\FY 19-20\Master Data\Product Hierarchy.xlsx")

In [141]:
# data3 = pd.read_excel("D:\Analytics\Marketing Report\FY 19-20\RS CONNECT MIS REPORT JC 03.xlsx",sheet_name = "Sheet1")
# data4 = pd.read_excel("D:\Analytics\Marketing Report\FY 19-20\RS CONNECT MIS REPORT JC 04.xlsx",sheet_name = "Sheet1")
# data5 = pd.read_excel("D:\Analytics\Marketing Report\FY 19-20\RS CONNECT MIS REPORT JC 05.xlsx",sheet_name = "Sheet1")
# data6 = pd.read_excel("D:\Analytics\Marketing Report\FY 19-20\RS CONNECT MIS REPORT JC 06.xlsx",sheet_name = "Sheet1")
# data7 = pd.read_excel("D:\Analytics\Marketing Report\FY 19-20\RS CONNECT MIS REPORT JC 07.xlsx",sheet_name = "Sheet1")
# data8 = pd.read_excel("D:\Analytics\Marketing Report\FY 19-20\RS CONNECT MIS REPORT JC 08.xlsx",sheet_name = "Sheet1")

In [46]:
data5.drop(columns  = [100000] ,axis = 1,inplace = True)

In [142]:
data8.columns = map(str.lower, data8.columns)

In [143]:
data8.columns

Index(['statename', 'distcode', 'distname', 'disttype', 'salesmancode',
       'salesmanname', 'routecode', 'routename', 'rtrid', 'rtrcode', 'rtrname',
       'rtrgroupcde', 'rtrclasscde', 'billno', 'invdate', 'brand', 'b.pack',
       'prdcode', 'prdname', 'totqty', 'grossamt', 'taxableamt', 'netamt',
       'basevalue', 'div', 'week wise', 'rs code'],
      dtype='object')

In [144]:
data8 = data8.rename(columns = {"distname" : "cusname",
                              "disttype" : "cusgroname",
                              "rtrgroupcde" : "category"})

In [145]:
data8.shape

(936919, 27)

In [146]:
data8 = data8[['statename', 'distcode', 'cusname', 'cusgroname', 'rtrid', 'rtrcode',
       'rtrname', 'billno', 'invdate', 'brand', 'b.pack', 'prdcode', 'prdname',
       'totqty', 'grossamt', 'taxableamt', 'netamt', 'basevalue', 'category',
       'div']]

In [121]:
data8.tail(2)

,statename,distcode,cusname,cusgroname,rtrid,rtrcode,rtrname,billno,invdate,brand,b.pack,prdcode,prdname,totqty,grossamt,taxableamt,netamt,basevalue,category,div
936917,NaN,MT0300032020580003202058,NaN,NaN,nan,NaN,NaN,NaN,NaT,NaN,NaN,MS05D8HFC02S,NaN,21600,0.4238908,nan,nan,0.4238908,NaN,PC
936918,NaN,MT0300032020580003202058,NaN,NaN,nan,NaN,NaN,NaN,NaT,NaN,NaN,MSAM0180HFC03R,NaN,384,0.2964096,nan,nan,0.2964096,NaN,PC

# Reading Master Data

In [119]:
jccycle                   =      pd.read_excel("D:\Analytics\Marketing Report\Journey Cycle\Master Journey Cycle.xlsx")
geodata                   =      pd.read_csv("D:\Analytics\Marketing Report\FY 19-20\Master Data\Geodata.csv")
product_hierarchy         =      pd.read_excel("D:\Analytics\Marketing Report\FY 19-20\Master Data\Product Hierarchy.xlsx")
static_category_lookup    =      pd.read_excel("D:\Analytics\Marketing Report\FY 19-20\Master Data\Static_Category_Lookup.xlsx")
retailer_latest           =      pd.read_excel("D:\Analytics\Marketing Report\FY 19-20\Master Data\Retailer_Latest.xlsx")
# consolidated_graph        =      pd.read_excel("D:\Analytics\Marketing Report\FY 19-20\Master Data\Consolidated_Graph.xlsx")
distributor_type          =      pd.read_excel("D:\Analytics\Marketing Report\FY 19-20\Master Data\Distributor_Type.xlsx")
# active_retailers_PerJC    =      pd.read_csv("D:\Analytics\Marketing Report\FY 19-20\Master Data\Active_Retailers_PerJC.csv",
#                                               low_memory=False)

# Reading the dataset from FY 19-20 folder

In [146]:
data = pd.read_excel("D:\Analytics\Marketing Report\FY 19-20\RS CONNECT MIS REPORT JC 08.xlsx",sheet_name = "Sheet1")

In [151]:
backup = data

# Data Cleaning - Imputing Nulls and Feature Selection

In [152]:
data.columns = map(str.lower, data.columns)
data.columns

Index(['statename', 'distcode', 'distname', 'disttype', 'salesmancode',
       'salesmanname', 'routecode', 'routename', 'rtrid', 'rtrcode', 'rtrname',
       'rtrgroupcde', 'rtrclasscde', 'billno', 'invdate', 'brand', 'b.pack',
       'prdcode', 'prdname', 'totqty', 'grossamt', 'taxableamt', 'netamt',
       'basevalue', 'div', 'week wise', 'rs code'],
      dtype='object')

In [153]:
data = data.rename(columns = {"distname" : "cusname",
                              "disttype" : "cusgroname",
                              "rtrgroupcde" : "category"})

### Data Cleaning Function

1. Changing the column names to lower case.    
2. null_cols variable will show which column has the null values. Only taxable amount can have null values.
3. Imputing the NA values in category as <b>"Kirana"</b>
4. And Imputing the <b>rtrcode</b> and <b>rtrname</b> NA values as <b>"Data not found"</b>
5. Merging the data with <b>Master JC  cycle</b> created and finding the JC value for that data.
6. After Merging the columns used are
                distcode
                rtrcode
                prdcode
                cusname
                cusgroname
                billno
                invdate
                totqty
                basevalue
                div
                Jc
                Week

In [147]:
def datacleaning(dataframe):
    data2               = dataframe
    data2.columns       = map(str.lower, data2.columns)
    data2               = data2[['statename', 'distcode', 'cusname', 'cusgroname', 'rtrid', 'rtrcode',
                                   'rtrname', 'billno', 'invdate', 'brand', 'b.pack', 'prdcode', 'prdname',
                                   'totqty', 'grossamt', 'taxableamt', 'netamt', 'basevalue', 'category',
                                   'div']]
    data2["taxableamt"] = data2["taxableamt"].fillna(value = 0)
    data2["category"]   = data2["category"].fillna(value = "Kirana")
    data2[["rtrcode","rtrname"]]    = data2[["rtrcode","rtrname"]].fillna(value = "Data not found")
    null_data           = data2[data2.invdate.isnull()]
    if len(null_data) > 0 :
        print("Populate the null_data and append in the original data and proceed")
    null_cols           = data2.isnull().sum().to_frame().reset_index()
#     null_cols[null_cols[0] != 0]
    data2               = pd.merge(data2, jccycle, left_on = "invdate", right_on = "Wk_Start_Date")
    data2.drop(columns  = ["Wk_Start_Date"] ,axis = 1,inplace = True)
    data2[["rtrcode","category"]] = data2[["rtrcode","category"]].applymap(lambda s:(s.upper() if type(s)==str else s))
    print (null_cols)
    print(" \n If the above values are zero proceed to next step")

    return data2

In [148]:
data8 = datacleaning(data8)

Populate the null_data and append in the original data and proceed
         index     0
0    statename  8120
1     distcode     0
2      cusname  8120
3   cusgroname  8120
4        rtrid  8120
5      rtrcode     0
6      rtrname     0
7       billno  8120
8      invdate  8120
9        brand  8120
10      b.pack  8120
11     prdcode     0
12     prdname  8120
13      totqty     0
14    grossamt     0
15  taxableamt     0
16      netamt  8120
17   basevalue     0
18    category     0
19         div     0

 If the above values are zero proceed to next step

In [137]:
data8.isnull().sum().to_frame().reset_index()

In [155]:
null_data.head(2)

,statename,distcode,cusname,cusgroname,rtrid,rtrcode,rtrname,billno,invdate,brand,b.pack,prdcode,prdname,totqty,grossamt,taxableamt,netamt,basevalue,category,div
928799,NaN,CC0300020002680002000268,NaN,NaN,nan,Data not found,Data not found,NaN,2019-11-01,NaN,NaN,CJBM0150ASS09S,NaN,216,0.2376000,0.0000000,nan,0.2376000,Kirana,CY
928800,NaN,CC0300020002680002000268,NaN,NaN,nan,Data not found,Data not found,NaN,2019-11-01,NaN,NaN,INAM0005NBK10S,NaN,3672,1.1056392,0.0000000,nan,1.1056392,Kirana,PC

In [189]:
def nullcleaning(null_data):
    
    null_data["taxableamt"] = null_data["taxableamt"].fillna(value = 0)
    null_data["category"]   = null_data["category"].fillna(value = "Kirana")
    null_data[["rtrcode","rtrname"]]    = null_data[["rtrcode","rtrname"]].fillna(value = "Data not found")
    null_data["invdate"]    = "2019-11-01"
    null_data["netamt"]     = null_data["netamt"].fillna(value = 0)
    null_data["invdate"]    = pd.to_datetime(null_data["invdate"])
    null_data               = pd.merge(null_data, jccycle, left_on = "invdate", right_on = "Wk_Start_Date")
    null_data.drop(columns  = ["Wk_Start_Date"] ,axis = 1,inplace = True)
    null_data[["rtrcode","category"]]   = null_data[["rtrcode","category"]].applymap(lambda s:(s.upper() if type(s)==str else s))
    return null_data

In [184]:
null_data = nullcleaning(null_data)

In [190]:
data8 = data8.append(null_data)

In [191]:
data8.shape

(936919, 22)

# Appending Master Data 1 - Geodata (Not Required)

In [159]:
geodata_new      = data[["statename","distcode"]]
geodata_new      = geodata.drop_duplicates()
geodata_check    = pd.merge(geodata_new,geodata["distcode"],on = "distcode",how = "left",indicator = True)
geonew_check     = geodata_check[geodata_check["_merge"] != 'both']
geonew_count     = geonew_check[["statename","distcode"]]

if len(geonew_count) > 0:
    geodata      = geodata.append(geonew_count)
    geodata.to_csv  ("D:\Analytics\Marketing Report\FY 19-20\Master Data\Geodata.csv",index = False)
    print           ("New data apppended to the Master Table - Geodata")
else:
    print           ("There are no new data to append the Master Table Geodata")

print(geonew_count)

There are no new data to append the Master Table Geodata
Empty DataFrame
Columns: [statename, distcode]
Index: []

# Appending Master Data 2 - Static Category Master

In [172]:
rtrcode_category_check = pd.DataFrame(data["category"].unique())
rtrcode_category_check = rtrcode_category_check.rename(columns = {0 : "category"})
rtrcode_category_check = pd.merge(rtrcode_category_check,
                                  static_category_lookup,
                                  left_on="category",
                                  right_on="Old_Category", 
                                  how = "left",
                                  indicator = True)
rtrcode_category_check = rtrcode_category_check[rtrcode_category_check["_merge"] != 'both']

if len(rtrcode_category_check) > 0:
    newcategory = rtrcode_category_check[rtrcode_category_check["_merge"] != 'both']
    newcategory.to_csv(r"D:\Analytics\Marketing Report\FY 19-20\Master Data\New_category.csv",index = False)
    print           ("New data occured. Please append the static category lookup manually from category.csv file")
else:
    print           ("There are no new data to append the Master Static category lookup Table ")

There are no new data to append the Master Static category lookup Table

In [171]:
#static_category_lookup    =      pd.read_excel("D:\Analytics\Marketing Report\FY 19-20\Master Data\Static_Category_Lookup.xlsx")

# Appending Master Data 3 - Reatiler Latest Master

In [182]:
rtrcode_new          = data[["rtrcode","category"]]
rtrcode_new          = data[["rtrcode","category"]].drop_duplicates()
rtrcode_check        = pd.merge(rtrcode_new,retailer_latest["rtrcode"],on = "rtrcode", how = "left",indicator = True)
rtrcode_check        = rtrcode_check[rtrcode_check["_merge"] != 'both']
new_retailer         = pd.merge(rtrcode_check,static_category_lookup,
                                    left_on="category",
                                    right_on = "Old_Category",
                                    how = "left") 
new_retailer         = new_retailer[["rtrcode","Old_Category","New_Category"]]
if len(new_retailer) > 0:
    retailer_latest  = retailer_latest.append(new_retailer)
    retailer_latest.to_excel  ("D:\Analytics\Marketing Report\FY 19-20\Master Data\Retailer_Latest.xlsx",index = False)
    print           ("New data apppended to the Master Table - Retailer Latest")
else:
    print           ("There are no new data to append the Master Table - Retailers")

There are no new data to append the Master Table - Retailers

# Appending Master Data 4 - Product Master Data

In [188]:
prdcode_check = pd.DataFrame(data["prdcode"].unique()).rename(columns = {0 : "prdcode"})
prdcode_check        = pd.merge(prdcode_check,product_hierarchy["PrdCode"],
                                left_on = "prdcode",
                                right_on = "PrdCode",
                                how = "left",
                                indicator = True)
prdcode_check        = prdcode_check[prdcode_check["_merge"] != 'both']
if len(prdcode_check) > 0:
    print           ("New data occured in the Table. Check with Business for new Hierarchy")
else:
    print           ("There are no new products for the Master Table - Product Hierarchy")

There are no new products for the Master Table - Product Hierarchy

# Appending Master Data 5 - Distributor Type

In [186]:
cusgroname_check = pd.DataFrame(data["cusgroname"].unique()).rename(columns = {0:"cusgroname"})
cusgroname_check        = pd.merge(cusgroname_check,distributor_type,
                                left_on = "cusgroname",
                                right_on = "Distributor_type",
                                how = "left",
                                indicator = True)
cusgroname_check = cusgroname_check[cusgroname_check["_merge"] != 'both']
if len(cusgroname_check) > 0:
    print           ("New data occured in the Table. Check with Business for new Distributor")
else:
    print           ("There are no new distributor for the Master Table - Distributor_Type")

There are no new distributor for the Master Table - Distributor_Type

### Cleaned data is moved to new folder

In [21]:
data = pd.read_csv("D:\Analytics\Marketing Report\FY 19-20\Cleaned data\Cleaned_JC06.csv")
data = data[["distcode","rtrcode","prdcode","cusname","cusgroname","invdate","totqty","basevalue","div","Jc","Week"]]
data.to_csv("D:\Analytics\Marketing Report\FY 19-20\Cleaned data\Cleaned_JC06.csv",index = False)

In [194]:
data1.head(2)

,statename,distcode,cusname,cusgroname,rtrid,rtrcode,rtrname,billno,invdate,brand,...,prdname,totqty,grossamt,taxableamt,netamt,basevalue,category,div,Jc,Week
0,TAMIL NADU,FS0900020002600002000260,SUNETHRA INFOTECH PRIVATE LTD,Van Sales RS,78,MRET00079,A TO Z SUPER MARKET,BIL1900072,2019-04-13,Milkshake Small Pack,...,CAVINS MILKSHAKE VANNILA 180ML 30 PCS,30,649.3506600,608.8046600,639.2450000,0.0057434,KIRANA,AD,1,3
1,TAMIL NADU,FS0900020002600002000260,SUNETHRA INFOTECH PRIVATE LTD,Van Sales RS,1374,SIPLV658,SRI BALAJI STORE,BIL1900073,2019-04-13,Milkshake Pouch Pack,...,CAVINS MILKSHAKE CHOC 100ML 100PC RS.10,10,86.5800900,81.1740900,85.2330000,0.0007658,KIRANA,AD,1,3

In [193]:
data1.to_csv(r"D:\Analytics\Marketing Report\FY 19-20\New Cleaned data\Cleaned_JC01.csv",index = False)

In [2]:
data1 = pd.read_csv("D:\Analytics\Marketing Report\FY 19-20\Cleaned data\Cleaned_JC01.csv")
data2 = pd.read_csv("D:\Analytics\Marketing Report\FY 19-20\Cleaned data\Cleaned_JC02.csv")
data3 = pd.read_csv("D:\Analytics\Marketing Report\FY 19-20\Cleaned data\Cleaned_JC03.csv")
data4 = pd.read_csv("D:\Analytics\Marketing Report\FY 19-20\Cleaned data\Cleaned_JC04.csv")
data5 = pd.read_csv("D:\Analytics\Marketing Report\FY 19-20\Cleaned data\Cleaned_JC05.csv")
data6 = pd.read_csv("D:\Analytics\Marketing Report\FY 19-20\Cleaned data\Cleaned_JC06.csv")
data7 = pd.read_csv("D:\Analytics\Marketing Report\FY 19-20\Cleaned data\Cleaned_JC07.csv")
data8 = pd.read_csv("D:\Analytics\Marketing Report\FY 19-20\Cleaned data\Cleaned_JC08.csv")

In [225]:
fullpath = [data1, data2, data3, data4, data5, data6, data7, data8]

In [226]:
data = pd.DataFrame()
for f in fullpath:
#     df = pd.read_excel(f, sheet_name = 'Sheet1')
    data = data.append(f)

In [227]:
data.columns

Index(['statename', 'distcode', 'cusname', 'cusgroname', 'rtrid', 'rtrcode',
       'rtrname', 'billno', 'invdate', 'brand', 'b.pack', 'prdcode', 'prdname',
       'totqty', 'grossamt', 'taxableamt', 'netamt', 'basevalue', 'category',
       'div', 'Jc', 'Week'],
      dtype='object')

In [228]:
data["Jc"].unique()

array([1, 2, 3, 4, 5, 6, 7, 8], dtype=int64)

In [229]:
data.shape

(5999581, 22)

In [195]:
data["rtrcode"].nunique()

210782

In [51]:
len(list(set(data1["rtrcode"]) & set(data2["rtrcode"])))

29003

In [70]:
temp = data[data["rtrcode"] == "RET0153"][["Jc","rtrcode","basevalue"]]

In [71]:
temp.groupby(["Jc","rtrcode"]).agg(count = ("rtrcode","count"), Sales = ("basevalue","sum")).reset_index()

   Jc  rtrcode  count  Sales
0   4  RET0153   2558  45.34
1   5  RET0153   1478  28.11
2   6  RET0153    958  11.74

# Test case

#### Sales values of a retailer(S100001151551079987)  in JC 1,2,3

In [97]:
data[(data["rtrcode"] == "S100001151551079987") & data["Jc"].isin([1,2,3])]["basevalue"].sum() * 100000

872.1756049999999

#### Sales values of a retailer(S100001151551079987)  in All JCs

In [98]:
data[(data["rtrcode"] == "S100001151551079987")]["basevalue"].sum() * 100000

1311.402476

#### No. of times the retailer(S100001151551079987) logged in JC 1,2 and 3

In [99]:
data[(data["rtrcode"] == "S100001151551079987") & data["Jc"].isin([1,2,3])]["rtrcode"].count()

17

#### No. of times the retailer(S100001151551079987) has logged in all JCs

In [100]:
data[(data["rtrcode"] == "S100001151551079987")]["rtrcode"].count()

28

# Testcase - Throughput

In [124]:
testcase_throughput = data.groupby(["Jc","rtrcode"]).agg(Count = ("rtrcode","count"),Sales = ("basevalue","sum")).reset_index()
testcase_throughput["Sales"] = testcase_throughput["Sales"] * 100000
testcase_throughput["throughput"] = testcase_throughput["Sales"]/testcase_throughput["Count"]
testcase_throughput[testcase_throughput["rtrcode"] == "S100001151551079987"]

        Jc              rtrcode  Count  Sales  throughput
32690    1  S100001151551079987      4 249.38       62.35
93535    2  S100001151551079987      8 356.94       44.62
178457   3  S100001151551079987      5 265.85       53.17
290952   4  S100001151551079987      4 129.12       32.28
424609   5  S100001151551079987      7 310.10       44.30

# Testcase for active retailers for JC 4 5 6

In [128]:
# data4.merge(data5,how = "inner", on = "rtrcode").merge(data6,how = "inner",on = "rtrcode")

data1["rtrcode"].nunique()

# Test Case for Consolidated Graph

In [152]:
sales_sum = data.groupby(["Jc"]).agg(Sum_of_Sales = ("basevalue","sum")).reset_index()
sales_sum.Sum_of_Sales = sales_sum.Sum_of_Sales * 100000
sales_sum

   Jc     Sum_of_Sales
0   1   406,175,488.70
1   2   679,260,494.25
2   3 1,152,103,145.37
3   4   967,561,156.66
4   5   825,920,410.71
5   6   888,850,187.17

In [12]:
rtrcode_count = data.groupby(["Jc"]).agg(
  Count_of_rtrcode = ("rtrcode", "nunique")
).reset_index()
rtrcode_count

   Jc  Count_of_rtrcode
0   1             38525
1   2             63115
2   3             86089
3   4            113259
4   5            133591
5   6            145103

In [157]:
thruput_data = pd.merge(sales_sum,rtrcode_count,on = "Jc")
thruput_data["throughp_put"] = thruput_data["Sum_of_Sales"] / thruput_data.Count_of_rtrcode
thruput_data

   Jc     Sum_of_Sales  Count_of_rtrcode  throughp_put
0   1   406,175,488.70             38525     10,543.17
1   2   679,260,494.25             63115     10,762.27
2   3 1,152,103,145.37             86089     13,382.70
3   4   967,561,156.66            113259      8,542.91
4   5   825,920,410.71            133591      6,182.46
5   6   888,850,187.17            145103      6,125.65

# Test Case for random Goa Chik sales

In [127]:
temp3 = geodata[geodata["statename"] == "GOA"]

In [128]:
temp = product_hierarchy[product_hierarchy.BrdPk == "Chik Sachet Rs.1"]['PrdCode'].unique()

In [129]:
temp2 = retailer_latest[retailer_latest.New_Category == "PC-KIRANA/GENERAL STORES"]["rtrcode"].unique()

In [13]:
# temp3 = geodata[geodata["statename"] == "ANDHRA PRADESH"]["distcode"]

In [130]:
goa_1 =  data[data.distcode.isin(temp3) &
            data.prdcode.isin(temp) &
            data.rtrcode.isin(temp2) &
             data.Jc.isin([1,2,3,4,5,6])]

In [137]:
data

,distcode,statename,rtrcode,category,prdcode,cusname,cusgroname,billno,invdate,totqty,basevalue,div,Jc,Week
0,GT0100020000730002000073,TAMIL NADU,GT0100020000730002000073-SLM0011561807093,PC-WHOLESALE,KH05D8HWP02R,SRI ARUNAI AGENCY - TIRUVANNAMALAI,Regular RS,BIL1901499,2019-10-16,20,0.0001384,PC,8,29
1,GT0100020000730002000073,TAMIL NADU,GT0100020000730002000073-SLM0011561807093,PC-WHOLESALE,KS05D4DRS03S,SRI ARUNAI AGENCY - TIRUVANNAMALAI,Regular RS,BIL1901499,2019-10-16,20,0.0001398,PC,8,29
2,GT0100020000730002000073,TAMIL NADU,GT0100020000730002000073-SLM0011561807093,PC-WHOLESALE,KS05D4HFS02S,SRI ARUNAI AGENCY - TIRUVANNAMALAI,Regular RS,BIL1901499,2019-10-16,20,0.0001310,PC,8,29
3,GT0100020000730002000073,TAMIL NADU,GT0100020000730002000073-SLM0011561807093,PC-WHOLESALE,MH05D6HWP02R,SRI ARUNAI AGENCY - TIRUVANNAMALAI,Regular RS,BIL1901499,2019-10-16,15,0.0004361,PC,8,29
4,GT0100020000730002000073,TAMIL NADU,GT0100020000730002000073-SLM0011561807093,PC-WHOLESALE,MS05D8HFC02S,SRI ARUNAI AGENCY - TIRUVANNAMALAI,Regular RS,BIL1901499,2019-10-16,16,0.0003060,PC,8,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
928794,MT0600032002180003200218,WEST BENGAL,MRET00020,BIGBASKET,CJBF0150BMK01R,TRIVENI ENTERPRISES,Key A/c Distributor,BIL1900115,2019-10-28,6,0.0077482,CY,8,31
928795,MT0600032002180003200218,WEST BENGAL,MRET00020,BIGBASKET,CJBM0150WMK01R,TRIVENI ENTERPRISES,Key A/c Distributor,BIL1900115,2019-10-28,6,0.0077482,CY,8,31
928796,GT0100020070830002007083,PONDICHERRY,S100000891551772330,PC-KIRANA/GENERAL STORES,NN0008SYR01R,K L GROUPS - PONDICHERRY,Regular RS,GSTR1900390,2019-10-28,-48,-0.0015989,CY,8,31
928797,GT0100020070830002007083,PONDICHERRY,S100000931557214119,PC-KIRANA/GENERAL STORES,NN0008SYR01R,K L GROUPS - PONDICHERRY,Regular RS,GSTR1900398,2019-10-28,-48,-0.0015989,CY,8,31
928798,GT0100020070830002007083,PONDICHERRY,S100000921561011268,PC-KIRANA/GENERAL STORES,NN0008SYR01R,K L GROUPS - PONDICHERRY,Regular RS,GSTR1900402,2019-10-28,-48,-0.0015989,CY,8,31

In [131]:
goa_1.Jc.unique()

array([], dtype=int64)

In [27]:
andcheck = goa_1[["rtrcode","Jc"]]

In [35]:
andcheck = andcheck[andcheck["Jc"].isin([1,2])]

In [36]:
andcheck.to_csv("D:\\Analytics\\Marketing Report\\Python code\\andhra.csv",index = False)

In [202]:
data.columns

Index(['statename', 'distcode', 'cusname', 'cusgroname', 'rtrid', 'rtrcode',
       'rtrname', 'billno', 'invdate', 'brand', 'b.pack', 'prdcode', 'prdname',
       'totqty', 'grossamt', 'taxableamt', 'netamt', 'basevalue', 'category',
       'div', 'Jc', 'Week'],
      dtype='object')

# SQL Connection

In [273]:
import pyodbc

In [274]:
connStr = ("DRIVER={ODBC Driver 13 for SQL Server};"
           "Server=DESKTOP-KGNPIA3\SQLEXPRESS;"
           "Database=sso_db;"
           "Trusted_Connection=yes")
conn = pyodbc.connect(connStr)

In [275]:
cursor = conn.cursor()
for index,row in null_data.iterrows():
    cursor.execute("INSERT INTO new_cleaned_data(statename,distcode,cusname,cusgroname,rtrid,rtrcode,rtrname,billno,invdate,brand,b_pack,prdcode,prdname,totqty,grossamt,taxableamt,netamt,basevalue,category,div,Jc,Week) values(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?);",
                        row['statename'],
                        row['distcode'],
                        row['cusname'],
                        row['cusgroname'],
                        row['rtrid'],
                        row['rtrcode'],
                        row['rtrname'],
                        row['billno'],
                        row['invdate'],
                        row['brand'],
                        row['b.pack'],
                        row['prdcode'],
                        row['prdname'],
                        row['totqty'],
                        row['grossamt'],
                        row['taxableamt'],
                        row['netamt'],
                        row['basevalue'],
                        row['category'],
                        row['div'],
                        row['Jc'],
                        row['Week'])

    conn.commit()
cursor.close()
conn.close()

In [266]:
null_data.head(2)

,statename,distcode,cusname,cusgroname,rtrid,rtrcode,rtrname,billno,invdate,brand,...,prdname,totqty,grossamt,taxableamt,netamt,basevalue,category,div,Jc,Week
0,Null,CC0300020002680002000268,Null,Null,Null,DATA NOT FOUND,Data not found,Null,2019-11-01,Null,...,Null,216,0.2376000,0.0000000,0,0.2376000,KIRANA,CY,8,32
1,Null,CC0300020002680002000268,Null,Null,Null,DATA NOT FOUND,Data not found,Null,2019-11-01,Null,...,Null,3672,1.1056392,0.0000000,0,1.1056392,KIRANA,PC,8,32

In [265]:
null_data["rtrid"] = "Null"

In [271]:
null_data["invdate"] = null_data.invdate.astype(str)

In [272]:
null_data.dtypes

statename      object
distcode       object
cusname        object
cusgroname     object
rtrid          object
rtrcode        object
rtrname        object
billno         object
invdate        object
brand          object
b.pack         object
prdcode        object
prdname        object
totqty          int64
grossamt      float64
taxableamt    float64
netamt          int64
basevalue     float64
category       object
div            object
Jc              int64
Week            int64
dtype: object

In [280]:
data.groupby(["rtrcode","category"]).agg(count = ("rtrcode","count")).head(20)

                                                    count
rtrcode                     category
55                          KIRANA                     40
60                          KIRANA                     40
203                         KIRANA                    119
                            NILGIRIS                   11
204                         KIRANA                     30
208                         KIRANA                    180
                            NILGIRIS                   44
209                         KIRANA                     51
                            NILGIRIS                   13
211                         KIRANA                     61
212                         D MART                    117
                            KIRANA                    345
8432                        AVENUE SUPER MARTS LTD     75
                            KIRANA                    186
124578                      KIRANA                     14
1101083119-SLM0011556019401 RA-UNISEX                  25
1101083119-SLM0011556024410 RA-LADIES SALOON            9
1101083119-SLM0011556271858 RA-LADIES SALOON           15
1101083119-SLM0011556367333 RA-LADIES SALOON            6
1101083119-SLM0011556370846 RA-LADIES SALOON            1

In [282]:
temp = data[["rtrcode","category"]]

             rtrcode category
0          MRET00079   KIRANA
1           SIPLV658   KIRANA
2           SIPLV658   KIRANA
3           SIPLV658   KIRANA
4           SIPLV658   KIRANA
...              ...      ...
8115  DATA NOT FOUND   KIRANA
8116  DATA NOT FOUND   KIRANA
8117  DATA NOT FOUND   KIRANA
8118  DATA NOT FOUND   KIRANA
8119  DATA NOT FOUND   KIRANA

[5999581 rows x 2 columns]